.btn-group{
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.abcd {
  text-align: center; 
}

.btn {
  width: 200px;
  height:40px;
  background: mediumspringgreen;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  border: 7.5px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}